@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato');

$white: #f7f7f7;
$grey: #dfdfdf;
$black: #1c1c1c;
$yellow: rgb(252, 210, 57);

$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;

h1,h2,h3,h4,h5 {
  font-family: $primary-font;
}

p, a, span, button {
  font-family: $secondary-font;
}

// $breakpoints: (
//   xs: 576px,
//   sm: 768px,
//   md: 992px,
//   lg: 1200px
// );

$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

//@media screen and (min-width: $bp-xs) { }

//@media screen and (min-width: $bp-sm) { }

//@media screen and (min-width: $bp-md) { }

//@media screen and (min-width: $bp-lg) { }