@import '../_mixins';

//Landing Section
#landing-section{
    background-image:url(../images/stars.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  h1 {
    font-family: $primary-font;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: $yellow;
  }

  h2 {
    font-family: $secondary-font;
    text-align: center;
    color: $white;
    font-size: 1.5em;
  }

  .landing-social {
    margin-top: 1.5em;
    text-align: center;
  }

  .landing-social a {
    color: $white;
    padding-left: 0.3em;
    font-size: 2em;
    text-decoration: none;
  }

  .landing-social a:hover {
    color: $yellow;
  }

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

}
// About Section
#about-section{

  h2 {
    margin-top: 1em;
    font-family: $primary-font;
    text-transform: uppercase;
  }
  
  a {
    margin-left: 8em;
    margin-bottom: 1em;
  }

  .btn {
    padding: 1.2em;
  }

  .draw-border {
    box-shadow: inset 0 0 0 2px $black;
    color: $black
  }

  .draw-border:hover {
    color:$yellow;
  }

  .draw-border:hover::before, .draw-border:hover::after {
    border-color:$yellow;
  }

  img {
    padding: 1em 0 1.5em 0;
    width: 370px;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  p {
    font-family: $secondary-font;
  }

  @media screen and (min-width: $bp-md) { 
    img {
      width: 450px;
    }
  }

  img:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
  }

}

@media screen and (min-width: $bp-md) and (max-width: $bp-lg){
  #about-section{
    img{
      width: 400px;
    }
  }
}

// Portfolio Section
#portfolio-section{
  
  h2{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: $secondary-font;
    text-transform: uppercase;
  }

  ul {
    padding-left: 1.2em;
  }
    img {
        cursor: pointer;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%); 
        margin: 1em;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        width: 300px;
      }
    
      img:hover {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%); 
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
}

//Process Section
#process-section {

  .color-white {
    padding-bottom: 1em;
    letter-spacing: 0.2em;
  }

  h2.title-line {
    font-family: $secondary-font;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 1em;
    color: $yellow;
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid $yellow;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 50%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

  h4 {
    font-size: 1.5em;
    text-align: center;
  }

  span {
    cursor: pointer;
  }

  .process-list {
    font-family: $secondary-font;
    text-align: center;
  }

  .process-list li {
    font-weight: bolder;
    text-transform: uppercase;
    display: inline;
    font-size: 1.5em;
    padding: 10px;
  }

  img {
    cursor: pointer;
    margin: 0.5em;
    width: 60px;
    padding-bottom: 0.8em;
  }

  #process-box {
    margin-left: 1px;
  }
  .process-title {
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    color: $yellow;
    font-size: 1.8em;
    letter-spacing: 0.4em;
    padding-left: 5px;
  }

  .process-info {
    font-family: $secondary-font;
    color: $white;
    text-align: center;
  }

  

  @media screen and (min-width: $bp-md) {
    .process-list {
      font-family: $secondary-font;
      font-size: 2em;
      display: block;
    }
  
    .process-list li {
      padding-bottom: 1.2em;
    }

    #process-box {
      padding: 5em;
      margin-left: 2em;
    }
   }

   @media screen and (min-width: $bp-md) {
     .process-list li {
       display: list-item;
     }
     
     .process-title {
       margin-top: 2em;
       padding-left: 1em;
     }
    }

}

//Contact Section
#contactForm {
  padding-left: 1em;
}

form {
max-width: 900px;
text-align: center;
margin: 1px auto;
}

form input, form textarea {
  @include border-radius(5px);
  border: 0;
  padding: 1em;
  display: block;
  width: 90%;
  margin-top: 1em;
  font-family: $secondary-font;
  font-size: 0.8em;
  @include box-shadow(0 1px 1px rgba(black, 0.1));
  background-color: $grey;
  border: 1px solid black;
}

form input:focus, form textarea:focus {
  @include box-shadow(0 0px 2px $yellow !important);
}

form #input-submit {
text-transform: uppercase;
border-radius: 3px;
border: none;
text-align: center;
border: 1px solid $black;
cursor: pointer;  
background-color: transparent;
}

form #input-submit:hover {
  background-color: $yellow;
  @include text-shadow;
  transition: all 0.2s ease;
  text-decoration: none;
  background-color: $black;
  color: $white !important;
}

form textarea {
height: 200px;
}

.half {
float: left;
width: 46%;
margin-bottom: 1em;
}

.right {
width: 48%;
}

@media (max-width: 480px) {
.half {
  width: 100%;
  float: none;
  margin-bottom: 0;
}
}

/* Clearfix */
.cf:before,
.cf:after {
content: " ";
/* 1 */
display: table;
/* 2 */
}

.cf:after {
clear: both;
}

@media screen and (min-width: $bp-md){
  #contact-section {
    button {
      margin-right: 12em;
    }
  }
}

#contact-section {
  font-family: $secondary-font;
  font-size: 1.2em;
  color: $yellow;
  background-color: rgba(236, 181, 62, 0.95);
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;

  button {
    margin-top: 1em;
    margin-right: 2em;
  }

  h2.title-line {
    margin-bottom: 1em;
    color: $yellow;
    text-transform: uppercase;
    font-family: $primary-font;
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid $yellow;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 50%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}
}

//Email sent

.email-sent{
  height: 100%;
  background-color: $black;
}

.footer-social {
  float: right;
}

footer {
  padding-top: 1em;
  padding-bottom: 0.7em;

  p {
    font-family: $primary-font;
  }

  p span {
    font-family: $primary-font;
    font-size: 0.7em;
  }

  a {
    text-decoration: none;
    color: $black;
    font-size: 1.5em;
  }

  a:hover {
    text-decoration: none;
    color: $white;
  }
}